<!--<div class="d-flex flex-column min-vh-100">-->

<!--<nav class="navbar navbar-expand-sm" id="navbar">-->
<!--  <span class="nav-item">-->
<!--    Colonial Heights-->
<!--  </span>-->
<!--  <ul class="navbar-nav">-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="books" routerLinkActive="active" class="nav-link">Products</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="all-clubs" routerLinkActive="active" class="nav-link">Create Product</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
  <div class="page-wrapper">


    <!-- PAGE CONTAINER-->
    <div class="container">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div class="header-wrap">
<!--              <form class="form-header" onsubmit="return false;" method="GET">-->
<!--                <input class="au-input au-input-xl" type="text" name="search"-->
<!--                       placeholder="Search for data ..." />-->
<!--                <button class="au-btn-submit" type="submit">-->
<!--                  Search-->
<!--                </button>-->
<!--              </form>-->


              <div class="header-image">
                  <img src="assets/images/logos/ezgif.com-gif-maker-2.gif" />
              </div>
              <app-cart-status></app-cart-status>
<!--              <div class="cart-area d-n checkout float-xs-right">-->
<!--                <a href="shopping-detail.html">-->
<!--                  <div class="total">19.98 <span>2</span> </div> <i class="fa fa-shopping-cart"-->
<!--                                                                     aria-hidden="true"></i>-->
<!--                </a>-->
<!--              </div>-->
            </div>
            <div class="account-wrap"></div>
          </div>
        </div>
      </header>
<!--      End of Header-->
    </div>

<!--      <div class="container ">-->
      <div class="container">
      <aside class="menu-sidebar d-none d-lg-block ">
        <div class="logo">
          <a href="home.html">
            <img src="assets/images/logos/ezgif.com-gif-maker-2.gif" alt="luv2shop" class="img-responsive logo-head">
          </a>
        </div>

        <app-product-category-menu></app-product-category-menu>

      </aside>

      <router-outlet></router-outlet>

      </div>

<!--      </div>-->


  </div>

<!--FOOTER CONTAINER-->
<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>




<!--</div>-->
