
<h1>Products</h1>
<table class="table table-striped">
  <thead class="table-dark">
  <tr>
    <th scope="col">Image</th>
    <th scope="col">Product </th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of products">
    <td><img class="align-middle product-image" [src]="p.imageUrl" /></td>
    <td class="align-middle">{{p.name}}</td>
    <td class="align-middle">{{p.description}}</td>
    <td class="align-middle" >{{p.unitPrice}}</td>
<!--    <td class="align-middle">-->
<!--      <button (click)="onSubmit(c.id)" class="btn btn-primary">Update</button>-->
<!--      <button (click)="onDelete(c.id)" class="btn btn-danger delete-button">Delete</button>-->

<!--    </td>-->
  </tr>
  </tbody>
</table>
